<div id="samlcamel-error-container">
  <h1 id='samlcamel-error-head'>ERROR: Failure in SAML Response</h1>
  <h3 id='samlcamel-error-msg'><%= @error %></h3>
  <% unless session[:wayf].nil?  %>
    <h3 id='session-wayf'>WAYF: <%= session[:wayf] %></h3>
  <% end %>

</div>
