<div id='wrapper'>
        <h1>NCShare Container Manager</h1>
	<div id='content' >
        The Container Manager service provides the NCShare community easy access
        to specialized software packages without installing complex software 
        on your own computer. <br>
        Container reservations last for a semester and provide access via web 
        browser to packages such as RStudio and JupyterLab hosted in MCNC's datacenter. 
	</div>
</div>

