= form_tag home_search_path, {method: :get, style: 'display:inline-block;', class: 'navbar-form'} do
  .form-group.input-group
    = text_field_tag 'q', @query, {class: 'form-control', type: 'search', placeholder: 'Search'}
    %span.input-group-btn
      %button.btn.btn-default{type: 'submit'}
        %span.glyphicon.glyphicon-search{"aria-hidden"=>true}
