.row
  .col-sm-12
    - if @current_user && @alert.present?
      .ss-error
        %ul
          - @alert.each do |a|
            %li
              = a
    - else
      %h1 Welcome to NCShare Container Manager!
      - if @current_user.blank?
        .ss-error
          %p
            Error with authentication
      %div
        The Container Manager service provides the NCShare community easy access
        to specialized software packages without installing complex software
        on your own computer. <br>
        Container reservations last for a semester and
        provide access via web browser to packages such as RStudio and JupyterLab
        hosted in MCNC's datacenter.
.row.extra-top

  = render 'containers/reservation_bar'

  .col-sm-4
    .col-div
      = image_tag('container.png', width: '50')
    %div
      %h2 Virtual Software<br/> (aka Containers)
      .top-15
        You don't need to install software on your laptop. Instead, you can run these containerized applications in your web browser.
        %ul
          %li Simple to use
          %li Launch an app in a click!
          %li Use anywhere you can run a browser

