%h1 Search Results for '#{@query}'
%h2 #{@help_articles.size + @app_stacks.size} results found

- unless @help_articles.empty?
  .panel.panel-default
    .panel-heading 
      %h3 Help
    %table.table
      - @help_articles.each do |c|
        %tr
          %td= link_to c.title, help_view_path(c)

- unless @app_stacks.empty?
  .panel.panel-default
    .panel-heading 
      %h3 Apps
    .panel-body
      =render '/apps/app_list'

