<hr>
<b><%=this_app[:container_type]%> - <%=this_app[:container_desc]%></b>  

<% if this_app[:first_visit] %>
<p><b><%= link_to "Reserve", this_app[:app_path] %></b> a <%=this_app[:container_type]%> instance</p>
<% else %>
  <% if this_app[:app_expired] %>
     <p>
       Your <%= this_app[:container_type]%> reservation has expired - container reservations are valid for one semester. <br>
       <b>
         <%=link_to("Click here to renew your reservation",{:action=>:renew,:containertype=>this_app[:container_type]})%>
       </b>
     </p>
  <% else %>
     <p>
       <b><%= link_to "Log in", this_app[:app_path] %></b> 
       to your <%=this_app[:container_type]%> instance
     </p>
     <% if ((this_app[:container_type] == 'RStudio') ||
            (this_app[:container_type] == 'Jupyter')  ||
            (this_app[:container_type] == 'Pytorch')  ||
            (this_app[:container_type] == 'NCCU-RStudio')  ||
            (this_app[:container_type] == 'PyROOT')  ||
            (this_app[:container_type] == 'NCCU-Jupyter')  ||
            (this_app[:container_type] == 'NCCU-Pytorch')  ||
            (this_app[:container_type] == 'Davidson-CSC-110-0')  ||
            (this_app[:container_type] == 'Davidson-POL-182-A')  ||
            (this_app[:container_type] == 'Davidson-MAT-315-0')  ||
            (this_app[:container_type] == 'Davidson-VSCode')  ||
            (this_app[:container_type] == 'Knime'))

      %>
       <p>
       If you are unable to connect to your <%=this_app[:container_type]%> environment your can 
	             <b><%= link_to "request a restart", this_app[:app_requestrestart_path]  %></b>.
       <p>
     <% end %>
  <% end %>
<% end %>


