#message-area

.vm-manage-buttons#nav
  .btn-group
    - if a_container[:app_expired]
      = link_to a_container[:app_renew_path], id: 'renew', class: 'duke-btn duke-btn-default', role: 'button' do
        %span.glyphicon.glyphicon-off
        %span.glyphicon-class
          Renew Reservation  
    - else
      = link_to a_container[:app_path], id: 'Login', class: 'duke-btn duke-btn-default', role: 'button' do
        %span.glyphicon.glyphicon-off
        %span.glyphicon-class
          Login  
    &nbsp
    = link_to a_container[:app_requestrestart_path], id: 'requestrestart', class: 'duke-btn ', role: 'button' do
      %span.glyphicon.glyphicon-off
      %span.glyphicon-class
        Request Restart  
    &nbsp
