%p 
  - if Docker.current_reservations(@current_user.netid).blank?
    No reserved resources for the current semester
  -else
    - Docker.current_reservations(@current_user.netid).each do |one_app|
      .list-group{style: 'list-style-type: none;margin: 0;padding: 0;'}
        - if one_app[:app_expired]
          = link_to "***Expired #{one_app[:container_type]} Reservation !", "/containers/#{one_app[:docker_id]}/show_panel", class: ['list-group-item'] #, ['active']
        - else
          = link_to one_app[:container_type], "/containers/#{one_app[:docker_id]}/show_panel", class: ['list-group-item'] #, ['active']
