.col-sm-4
  .panel.panel-default
    .panel-heading
      %h3.panel-title Reservations available 
    .panel-body
      - if @current_user
        =render 'containers/detailed_available_logged_in_reservation'
      
      - else
        =render 'containers/not_logged_in_reservation'
