%p
  - if @the_apps_available.blank?
    No available resources for the current semester
  -else
    - @the_apps_available.each do |one_app|
      - if one_app[:first_visit]
        .list-group{style: 'list-style-type: none;margin: 0;padding: 0;'}
          &nbsp
          %b= one_app[:container_type] 
          &nbsp   &nbsp
          = one_app[:container_desc]
          .vm-manage-buttons#nav
            .btn-group
              &nbsp
              = link_to ("reserve " + one_app[:container_type]), ("/containers/" + one_app[:container_type]), class: ['duke-btn duke-btn-default']
              &nbsp
              %p

