%p 
  Log in with your NetID to see all of your reserved resources
%div{style: "text-align:center;margin:auto;"}
  = button_to('Log in', home_login_path, method: :get, class: 'duke-btn duke-btn-default')
