- if flash[:res_notice].present?
  .ss-notice
    = flash[:res_notice]
- if flash.alert
  .ss-error
    = flash.alert

.panel.panel-default
  .panel-heading
    %h4 
    %dl.dl-horizontal
      %dt
        = a_container[:container_type]
      %dd
        = a_container[:container_desc]
  .panel-body
    %dl.dl-horizontal
      %dd
        = render partial: '/containers/buttons', locals: { a_container: @panel_reservation }
        - if a_container[:direct_ssh_command].present?
          You can also access your container using an ssh client:
          %p
            %b
              = a_container[:direct_ssh_command]
            - if a_container[:direct_ssh_pw].present?
              %br
              password:
              %b
                = a_container[:direct_ssh_pw]
	

.modal.fade{ id: 'myModal', tabindex: '-1', role: 'dialog', aria: { labelledby: 'myModalLabel' } }
  .modal-dialog{ role: 'document' }
    .modal-content
      .modal-body
        %p.modal-message#my-modal-message
          One moment please...
          %span.glyphicon.glyphicon-refresh.glyphicon-spin
