.row
  .col-sm-12
    - if @current_user && @alert.present?
      .ss-error
        %ul
          - @alert.each do |a|
            %li
              = a
    - else
      %h3  Current and available reservations
      - if @current_user.blank?

        .ss-error
          %p
            This service requires all users to use multi-factor authentication (MFA).
          %p
            For more details on how to sign up for MFA, please use the following:
            = link_to('Link', 'https://oit.duke.edu/what-we-do/applications/multi-factor-authentication', target: 'main')

.row.extra-top

  = render 'containers/detailed_reservation_bar'

  = render 'containers/detailed_available_reservation_bar'


