<h2>Knime</h2>
<div id='wrapper'>

<p><h3>noVNC login referral page</h3><br><b>If your web browser asks if it is OK to submit this form, say yes</b></p>

<script type="text/javascript">
function openVNCwindow() {
  window.location.replace("https://<%=@docker_host%>:<%=@docker_port%>/vnc.html?encrypt=1&autoconnect=1&password=<%=@docker_guest_pw%>&port=<%=@docker_port%>&resize=remote")
}
</script>

<script type="text/javascript">
window.onload=openVNCwindow()
</script>

