<h2>Restart Knime</h2>
<div id='wrapper'>
<p>
If you are having trouble connecting to your Knime environment<br>
you should close all web browser windows, restart your web browser<br> 
and try connecting again.
</p><p>
As a last resort, you can restart Knime. </p><p>
<b><i>WARNING: any work you have not saved will be lost during the restart.</i></b></p><p>
To restart Knime <b><%=link_to "click here", @restart_container_path %>
</p>



