<h2>Restarting Pytorch</h2>
<div id='wrapper'>
<p>
	<% if @restart_error == nil %>
	   Your container has been restarted. <br>
	   Go to the <%= link_to "Containers page", "/containers" %> and select Pytorch to start a new session. 
	<% else %>
	  <%=@restart_error%> 
	<% end %>
</p>


