<h2>Restarting Davidson-CSC-110-0</h2>
<div id='wrapper'>
<p>
	<% if @restart_error == nil %>
	   Your container has been restarted. <br>
	   Go to the <%= link_to "Containers page", "/containers" %> and select Davidson-CSC-110-0 to start a new session. 
	<% else %>
	  <%=@restart_error%> 
	<% end %>
</p>


