<div id='wrapper'>

	<%= link_to "&larr;Back".html_safe, controller: :container_provision, action: :index%>
<h3>Expired Containers Owners</h3>

<div style="margin: 20px;">
<% @expired_container_netids.each do | item |%>
<%= item.netid %>@duke.edu
<br>
<% end %>

</div>


</div>