<div id='wrapper'>
	<div id='content' >
	<% if @containers.blank? %>
		<h4>There currently are no Docker containers.</h4>
	<% else %>
		<h3>Docker containers</h3>
		<div>
			<%= form_tag('/container_provision/expire_all') do %>
			<%= submit_tag 'Expire All Containers', confirm: "Are you sure you want to expire all containers?", class: 'admin_submit'%>
			<% end %>

			<%= form_tag('/container_provision/delete_expired') do %>
			<%= submit_tag 'Delete All Expired Containers', confirm: "Are you sure you want to delete all expired containers? Although they will be archived for 30 days it is not trivial to re-enable them.",  class: 'admin_submit'%>
			<% end %>

			<%= form_tag('/container_provision/expire_emails') do %>
			<%= submit_tag 'List Expired Container Owners', class: 'admin_submit'%>
			<% end %>
		</div>
		<div style="clear:both;">

        <p>&nbsp;</p>

			<table border=1 id="layouttable">
				<tr>
					<th>Application</th>
					<th>Hostname</th>
					<th>Port</th>
					<th>Owner</th>
					<th>netid</th>
					<th>Expired</th>
					<th>Updated</th>
					<th>Password</th>
				</tr>
			<% @containers.each do |container|%>
				<tr>
					<td><%= container.appname %></td>
					<td><%= container.host %></td>
					<td><%= container.port %></td>
					<td><%= container.displayName %></td>
					<td><%= container.netid %></td>
					<td><%= container.expired %></td>
					<td><%= container.updated_at %></td>
					<td><%= container.pw %></td>
				</tr>		
			<% end %>
			</table>
		</div>
	<% end %>
	</div>
</div>
