// Fix path for glyphicons links
@font-face{
  font-family:'Glyphicons Halflings';
  src:asset-url("glyphicons-halflings-regular.eot");
  src:asset-url("glyphicons-halflings-regular.eot?#iefix") format('embedded-opentype'),asset-url("glyphicons-halflings-regular.woff2") format('woff2'),asset-url("glyphicons-halflings-regular.woff") format('woff'),asset-url("glyphicons-halflings-regular.ttf") format('truetype'),asset-url("glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format('svg');
}

table {
  // table-layout: fixed;
  td {
    padding: 0.2em 10px;
    white-space: nowrap;
  }
  th {
    padding: 0.2em 5px;
  }
}

#l-ss-header-container {
  padding: 0;
}

.ss-header-name {
  color: #F09905;
  font-family: "Open Sans",sans-serif;
  max-width: 191px;
  // font-size: 200%;
  font-size: 300%;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
  // vertical-align: -15%;
}

.l-ss-main {
  padding-bottom: 30px;
}


#l-ss-footer-container {
  .l-ss-logo-social-wrapper {
    width: initial;
    text-align: left;

    // Next two lines crop the annoying line at the bottom of the logo
    overflow: hidden;

    height: 64px;
    img {
      display: block;
      float: left;

    }
  }

  .ss-address {
    text-align: right;
  }
}

/* header */
h1, h2, h3 {
        font-weight: 400;
}
h1, .alpha {
        color: #f09905;
        font-size: 2.5em;
}
h2, .beta {
        color: #0736a4;
        font-size: 1.7em;
}
h3, .gamma {
        color: #6A6A6A;
        font-weight: 700;
}
h4, .delta {
        color: #2F5B99;
        text-transform: uppercase;
        font-weight: 700;
        font-size: .9em;
}
h5, .epsilon {
        color: #cc3300;
        font-weight: 700;
        font-size: .9em;
}

.table-no-border {
  > tbody, > tfoot, > thead {
    > tr {
      > td, > th {
        border: none;
      }
    }
  }
}

tspan {
  font-size: 1.3em;
  font-weight: normal;
}

.graph-tip {
  font-size: 0.70em;
}

g.label {
  color: black;
}

// Add a little more contract to links
a {
  color: #0570a6;
}
