.row
  .col-sm-12
    - if @current_user && @alert.present?
      .ss-error
        %ul
          - @alert.each do |a|
            %li
              = a
    - else
      - if @current_user.blank?
        .ss-error
          %p
            Error with authentication
  
  .col-sm-7
    .panel.panel-default
      .panel-heading
        %h3.panel-title Update OnDemand/SLURM access
      .panel-body
        - if @current_user
          - if flash[:res_notice].present?
            .ss-notice
              = flash[:res_notice].html_safe unless flash[:res_notice].blank?
          For SLURM/OnDemand access we use your gitlab.com account's 
          %li username 
          %li ssh public key 
          to set up an account you can use for access to the NCShare cluster. <br>
          Use the form below to set up access          
          %p
          %hr
          = form_for @posix, :url => '/posix/update' do |f| 
            %dl.dl-horizontal
              %dt= f.label 'gitlab username'
              %dd= f.text_field :gitlab_user, size: 30 
              %br
              %dt= f.label :shell_preference
              %dd= f.select(:shell_preference, options_for_select([['/bin/bash', '/bin/bash'], ['/bin/zsh', '/bin/zsh'], ['/bin/rbash', '/bin/rbash'], ['/bin/sh', '/bin/sh'], ['/bin/dash', '/bin/dash'] ], selected: @posix[:shell_preference]))
              %br
              %dt= f.submit 'Update'
              %br
          %p
          %hr
          Interactive access to OnDemand - login with your gitlab.com account here
          %li <a href='https://ood.ncshare.org/'>https://ood.ncshare.org/</a>
          %br
          Shell ssh access to a small VM to launch SLURM batch jobs 
          %li ssh your-gitlab-account@login.ncshare.org <br>
          with the ssh key registered with your account at gitlab.com
          
.row.extra-top

