/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.moveover{
  margin-left: 20px;
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
  }
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

/*Accessible buttons*/
.duke-btn {
  display: inline-block;
  padding: 6px 12px;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.duke-btn:focus,
.duke-btn:active:focus,
.duke-btn.active:focus,
.duke-btn.focus,
.duke-btn:active.focus,
.duke-btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.duke-btn:hover,
.duke-btn:focus,
.duke-btn.focus {
  text-decoration:underline;
}

.duke-btn:active,
.duke-btn.active {
  background-image: none;
  outline: 0;
}
.duke-btn.disabled,
.duke-btn[disabled],
.duke-btn-default[disabled]:hover,
.duke-btn[disabled]:hover
fieldset[disabled] .duke-btn-success {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  opacity: .65;
  color: #aba5a5;
  background-color: #e0e0e0;
  text-decoration:none;

}
a.duke-btn.disabled,
fieldset[disabled] a.duke-btn-success {
  pointer-events: none;
}

.duke-btn-default{
  color: #fff;
  background-color: #001a57;
}
.duke-btn-cancel{
  color: #fff;
  background-color: #666;
}
.duke-btn-cancel:hover {
  color: #fff;
  background-color: #262626;
  text-decoration:underline;
  border-color: #3b3b3b;
}
#my-modal-message {
  margin: 1.5em;
  padding: 0.666em;
}
.rapid-well{
  min-height: 95px;
  padding-left: 5px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.bs-glyphicons-list {
    padding-left: 0;
    list-style: none;
}
.bs-glyphicons li {
    float: left;
    height: 115px;
    font-size: 10px;
}

.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}

.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
.vm-manage-buttons{
  margin-bottom: 10px;
  h4{
    margin-bottom: 15px;
  }
}

.vm-manage-buttons .btn{
  margin-right: 2px;
  margin-bottom: 5px;
}
.rapid-hint{
  font-style:italic;
}

.app_thumbnail{
 width: 50px;
}

/*override bootstrap so the links are underlined for accessibility */
a {
  text-decoration: underline;
}

/*except for our menu stuff*/
.navbar-default .navbar-nav>li>a {
  text-decoration: none;
}

/*bootstrap button in Duke Orange*/
.btn-duke-orange {
  color: #262626;
  background-color: #f09905;
}

.btn-duke-graybrown{
  color: #262626;
  background-color: #cccabc;
}
.btn-duke-green{
  color: #262626;
  background-color: #e5eddc;
}
.btn-duke-yellow{
  color: #262626;
  background-color: #f6eab8;
}

#l-ss-footer-container {
  .l-ss-logo-social-wrapper {
    width: initial;
    text-align: left;

    // Next two lines crop the annoying line at the bottom of the logo
    overflow: hidden;

    height: 64px;
    img {
      display: block;
      float: left;

    }
  }

  .ss-address {
    text-align: right;
  }
}

.dl-admin dt{
  width:180px;
}
.dl-admin dd {
  margin-left:200px;
}

/* Attempt to fix wrapping for title */
.ss-header-name {
  white-space: initial;
  max-width: none;
  font-size: 150%;
}

.ss-header-second {
  margin: 20px auto;
}

.input-xxlarge {
  width: 530px;
}

.col-div {
  float:left;
  padding:25px 10px 10px 0px;
}
.extra-top {
  margin-top:25px;
}
.top-15 {
  margin-top:15px;
}
.bottom-15 {
  margin-bottom:15px;
}
.hideme {
  display: none
 }
.header-menu {
  color: unset !important;
  margin-left: unset !important;
  border-bottom: unset !important;
  text-decoration: unset !important;
}
@media (min-width: 500px) {
  #l-ss-header-container .ss-header-first {
    width: 55%;
  }
  .ss-header-name {
    white-space: nowrap;
    max-width: 191px;
    font-size: 200%;
  }
  #l-ss-header-container .ss-header-second {
    width: 45%;
    margin: 0;
  }
}

@media (min-width: 800px) {
  .ss-header-name {
    font-size: 275%;
  }

}
