.well-list {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}
.well-list>li:not(.ui-sort-disabled):hover {
  background: #f6fafe;
}

.well-list>li {
    padding: 10px 15px;
    min-height: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
.well-list>li::after {
    content: " ";
    display: table;
    clear: both;
}
.append-bottom-default {
    margin-bottom: 16px;
}
.key-list-item-info {
  float: left;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.append-right-10 {
    margin-right: 10px;
}
