<div>
	
	<ul class="nav nav-tabs">
	  <li role="presentation" <% if params[:controller] == "admins" %>class="active"<% end %> >
			<%= link_to "Admins", admins_path %> 
		</li>
	  <li <% if params[:controller] == 'docker' %>class="active"<% end %> >
			<%= link_to "Containers", dockers_path %>
		</li>
	  <li <% if params[:controller] == 'user' %>class="active"<% end %> >
			<%= link_to "Users", '/user/index' %>
		</li>
		<li <% if params[:controller] == 'group' %>class="active"<% end %> >
			<%= link_to "Groups", group_index_path %> </li>
		
	  <li <% if params[:controller] == 'activity_log' %>class="active"<% end %> >
			<%= link_to "Activity Log", '/activity_logs' %>
		</li>
			
	</ul>	
</div>
