- if @user.blank?
  Attention,
- else
  Dear #{@user.short_display},
#{"\r\n"}

= yield

#{"\r\n"}

Thank You,
The VM-Manage Team
#{"\r\n"}
#{"\r\n"}


******************************************************************
This is an automated notice. Please do not respond.

Contact the OIT Service Desk at 919-684-2200 if you have any questions.
http://oit.duke.edu/help
******************************************************************